[2015-02-24 01:57] xogeny opened #2 "Query string"
Currently, only the `Authorization` header is checked.  One could imagine that developers might want to configure this middleware to check the `Authorization` header and/or a query parameter (e.g., `auth_code`).

What do you think about making this configurable?  I can submit the PR.  I just want to know if you will accept such a PR.

[2015-02-24 05:26] mgonto commented on #2
Hey,

I thought of that but didn't have time yet to implement it!

I'm up to making it configurable. Maybe 3 configurations like in `angular-jwt`:

[code]

What do you think about it?

Thanks for offering to do a PR. We'll gladly accept it if you can do it.

Thanks again!

[2015-02-24 11:37] jfromaniello commented on #2
I think a func req -> token , like in express-jwt will be better.

[2015-02-24 14:06] xogeny commented on #2
@jfromaniello Could you elaborate?  It seems like what you want is essentially just a middleware interface.  But we already have that (at least if you are coming from negroni or martini).  The question is really what to do "in the middle".  The current implementation simply validates the identify of the person making the request.  That is actually all I want.  What I want to make configurable is *

[2015-02-24 14:07] xogeny commented on #2
@jfromaniello Ah!  OK.  Now I see your point.  What you are saying is that the user could provide a function that extracts the token from the request.  Got it!  That's a good idea.  I'll try and build on that.

[2015-02-24 15:31] xogeny opened #4 "Pedantic stuff"
I was reading [RFC 6750](http://tools.ietf.org/html/rfc6750).  In researching #2, I wanted to look at the formal specification for how OAuth tokens should be handled.  It mentions three schemes: `Authorization` header, form fields and query string parameters.

I've implemented the first and the last in #3.  However, I note that RFC 6750 [specifically talks about some header manipulations](http://t

[2015-02-24 15:37] xogeny opened #5 "Tests"
This library really needs some tests.  I would propose that one goal should be to add some.

Personally, I really like using `goconvey` for my testing.  It works perfectly fine with the normal `go test` command line.  But it also includes a nice web interface that continuously reruns tests.

Any objections to adding some tests using `goconvey`?

[2015-02-24 18:25] mgonto commented on #2
@jfromaniello good idea.

Thanks @mtiller for the PR ;)

[2015-02-24 18:27] mgonto commented on #4
I don't see anywhere that it says anything about header manipulation when using Query String params.  Where did you read about that?

Almost nobody is using the Form Fields for authentication. Mostly all do Request Parameter or Header, so I think we're OK with those 2 at first :). What do you think?

I agree that using the OAuth spec makes sense :)

[2015-02-24 19:03] mgonto commented on #5
No objection at all. I think it's an awesome idae.

[2015-02-24 19:54] xogeny commented on #4
The issue is with caching headers:

I'm not worried about the form field stuff because, with the new approach, someone could implement that pretty easily.  We don't need to implement everything.  We just need to implement the hooks to allow everything.

[2015-02-24 23:44] mgonto commented on #4
Agreed on the second one.

I don't think the cache-control will be a problem by the way.

Thanks for the PR. Closing this one then !

[2015-02-24 23:44] #4 closed

[2015-05-04 23:46] javiercbk commented on #5
I've just made a quick test case using negroni and go convey. It could use some refactor but it's a start

[2015-05-11 02:21] mgonto commented on #5
Thanks for the help on this. Merged!

[2015-05-11 02:21] #5 closed

[2015-10-22 08:11] hmgle opened #9 "Generate token function"
I think to generate jwt token for login handler will make go-jwt-middleware easier to use. Do you have a plan to add this function like [go-json-rest-middleware-jwt](https://github.com/StephanDollberg/go-json-rest-middleware-jwt/blob/master/auth_jwt.go#L124)?

[2016-02-06 20:58] gotschmarcel opened #15 "Middleware function"
Some applications support blacklisting of tokens, which is currently really ugly to do without a middleware function. The options struct should take an optional middleware function. That function then takes a parsed token and returns if it is valid. The function may also return an error if something failed, e. g. a database query.

Basically like the `isRevoked` callback in [express-jwt](https://g

[2016-02-06 22:14] #15 closed

[2016-03-24 15:29] natdm opened #17 "CheckJWT with Martini throwing <invalid Value>?"
I'm trying the JWT middleware examples to get JWT to work with Martini and it's giving me an return when it hits the authentication handler.

Here's the code, straight from the examples..

[code]

If I hit the unauthenticated route, it works. If I hit the authenticated route, it tells me I need a token. If I hit the authenticated route with a token that's not right, I get an error stating,

[code]

[2016-05-03 20:25] drawks commented on #2
Seems like this issue can be closed since #3 was merged?

[2016-05-31 13:27] pkartner opened #18 "context.Set() but no context.delete()"
Is there a special reason you call context.Set(r, m.Options.UserProperty, parsedToken) without calling the delete for that entry? This seems like a memory leak to me but I didn't get the chance to test it yet.

[2016-06-17 17:01] seanlindo opened #20 "Has jwt-go changed since the README was published?"
This code snippet no longer works:

`for k, v := range user.(*jwt.Token).Claims {
    fmt.Fprintf(w, "%s :\t%#v\n", k, v)
  }`

`Claims` cannot be ranged over, but I assume this was possible previously. I'm actually unsure how to access any of the claims at all from inside of the handler. When I log `Claims`, it's logged as a map. When I try to work with `Claims` as one would work with a map, I ju

[2016-06-17 18:17] seanlindo commented on #20
Ah, `Claims` has changed in the latest release. I'm going to issue a PR to update the example.

[2016-08-13 14:06] andrew-jones opened #25 "Can't verify signature"
I have am using the Angular2 project from here, https://github.com/auth0/auth0-angular2

I've created a go service built using gin and have created a middleware to decode and verify the JWT passed from the Angular2 app to the go service.  I can verify the JWT sent in the Auth header from angular to the go service using jwt.io and my auth0 client secret.  However using this middleware I can't seem

[2016-08-13 15:42] andrew-jones commented on #25
Solved with

    base64.URLEncoding.DecodeString(str)

[2016-08-13 15:43] #25 closed

[2016-08-31 13:09] yageek opened #27 "Context may be too specific?"
In the current implementation, we have a dependencies on `gorilla/context`. Some framework do not use this package. It may make sense to remove the dependency to it no ?

[2016-09-01 08:37] cam-stitt commented on #27
I have an open PR that helps fix this: #19

[2016-09-01 21:36] yageek commented on #27
See my updated comment in the PR #19

[2016-09-03 13:18] zlepper opened #28 "Gin middleware"
I would very much like to see some middleware for this that works with the [gin](https://github.com/gin-gonic/gin) framework.

[2016-09-23 17:47] ricochet2200 opened #29 "gorilla/context is not compatible with Go 1.7"
https://github.com/gorilla/context

It seems this project should no longer use gorilla context, but should replace it with the new package Go provides.  Perhaps [build constraints](https://golang.org/pkg/go/build/) (see Build Constraints section) could allow supporting both versions depending on what version of go is being used.

It also appears, a "go1.6" tag on this current version would cause `

[2016-10-08 07:58] rushstrike commented on #20
I ran into this problem today. This is what I changed to get it to work:
	for k, v := range user.(*jwt.Token).Claims.(jwt.MapClaims) {
		fmt.Fprintf(w, "%s :\t%#v\n", k, v)
	}

[2016-10-19 01:07] socceroos commented on #29
and for those still using Gorilla Context with the current master, just rename the import to ctx and then update the use of the package on line 232 of jwtmiddleware.go.

[2016-12-22 05:06] dstroot commented on #28
+1

[2017-01-03 09:18] Err0r500 commented on #28
Hey,
I just wrote an example : https://gist.github.com/Err0r500/00c50d45a5337058c4c732206457bd64
hope this helps,

[2017-01-04 01:48] dstroot commented on #28
This is very helpful - very easy to get running.  ;)

Now for the hard part - I cannot figure out how to actually use Auth0 to issue a JWT token that I can use to try the authenticated route.

[2017-02-01 22:56] EugenRakhimov opened #33 "Doesn't have the option to use Base64 encoded tokens."
If the token is Base64 encoded, and that's the tokens from standard Lock library - the middleware responds with "signature is invalid" response.

[2017-02-01 23:09] #33 closed

[2017-04-01 14:48] alexbrand commented on #28
@dstroot Were you able to generate some kind of test JTW for testing? Thanks

[2017-04-01 15:03] dstroot commented on #28
Actually never was able to figure it out.  I ended up using a different JWT library.

[2017-04-22 21:44] olbrichj opened #34 "Example for using certs and RS256"
Hey,

I'm trying to get this working with RS256 but I seem to do something wrong. As far as I can see, I can't figure out how to return the public cert in the ValidationKeyGetter.

Do you have some example code?

Thanks

[2017-04-23 14:30] olbrichj commented on #34
Okay I found out how this works:

jwtMiddleware := jwtmiddleware.New(jwtmiddleware.Options{
		ValidationKeyGetter: func(token *jwt.Token) (interface{}, error) {
			result, _ := jwt.ParseRSAPublicKeyFromPEM([]byte(cert))
			return result, nil
		},
		SigningMethod: jwt.SigningMethodRS256,
	})

where cert is a string containing the certificate

[2017-04-23 14:30] #34 closed

[2017-05-10 11:31] theobouwman opened #39 "Readme example not working"
[code]

This throws the error:
[code]

I am using Govendor

[2017-05-10 13:44] theobouwman commented on #39
The problem occurred because it was searching for the package in my `GOPATH` but since I am using `govendor` it was using the wrong package.

[2017-05-10 13:44] #39 closed

[2017-05-12 21:00] etsangsplk opened #40 "Is this library vendor neutral?"
It is not clear in README that this library vendor neutral.
It looks like it is. Please clarify and to what extent it implement the spec

[2017-05-17 07:30] nickhsine opened #41 "context user is missing"
Since I upgrade from `f3f7de3b9e394e3af3b88e1b9457f6f71d1ae0ac` to latest commit, I encounter a problem that I can not get `user` from `request`.

It looks like `user := context.Get(c.Request, "user")`  is nil.
Hence, when I want  to  do `userIDClaim := user.(*jwt.Token).Claims.(jwt.MapClaims)["userID"]` ,
it will cause the following error.
[code]

[2017-05-17 07:37] nickhsine commented on #41
I found the cause of the problem.
After version upgrade, I didn't change the code from
`user := context.Get(c.Request, "user")`
to
`user := c.Request.Context().Value("user")`

[2017-05-17 07:38] #41 closed

[2017-09-07 19:06] Abdullah2993 opened #44 "ErrorHandler in options should be of type Handler instead for errorHandler"

[2017-09-07 19:08] #44 closed

[2017-09-07 19:08] Abdullah2993 commented on #44
my bad

[2018-01-25 00:02] sergot opened #49 "Negroni example"
Hey

It looks to me, like when we use negroni, we have to write explicitly that we want to use the middleware, everytime we use it. Am I wrong?

What to do when, for example, I have 25 secured routes, and 2 not secured (they don't need user to send the token), do I have to write this:

        r.Handle("/ping", negroni.New(
            negroni.HandlerFunc(jwtMiddleware.HandlerWithNext),

[2018-05-08 04:03] jaimem88 opened #51 "Can't override ErrorHandler in New(Options)"
jwtmiddleware.Options struct has an ErrorHandler option but the type is `errorHandler` which is not exported. Can't override with a custom error Handler.

[2018-05-15 15:57] adamo57 commented on #51
I assume you could just make your own `errorHandler` and pass it to jwtmiddleware.Options.ErrorHandler

[code]

[2018-06-20 14:58] aaokunev opened #52 "Error handler interface is too restricted"
Hello! Right now you have type errorHandler:
`type errorHandler func(w http.ResponseWriter, r *http.Request, err string)
`
i think, it seems too restricted, because type of err is string, instead of error. In case of type error, interface will be more Go-ideomatic. And in the client error handler it will be possible to operate with types, not strings:

[code]

instead:
[code]
What do you think?

[2018-08-17 15:31] Mathiou04 opened #53 "Support for custom Claims"
Are there any plans to support custom Claims as the underlying library _jwt-go_ does (with the `parseWithClaims` method) ?

If no, is there any reason for not adding it to the library? (I am willing to open a PR if anyone has an idea on what is the best way to add support for this)

[2018-10-03 22:10] dbyington commented on #52
It kinda looks like string was used to satisfy `OnError()` when it calls `http.Error()`, which expects a string.
It may be better, probably more idomatic, to use an `error` type all the way through and let `OnError()` call `err.error()`.
I'll take a crack at refactoring for that and see what I come up with.

[2018-10-03 23:47] dbyington commented on #52
Oh man. When was the last time the tests were run?
[code]

jwt-go `Claims` only implements `Valid()` and has no map slice. At least against the current version. I have no idea what version this test was written against as there's no vendor info.

Going to take a bit just to get the tests functioning, before I can even dig into making changes. Buckle up, this is going to be a bumpy ride.

[2018-11-08 17:08] hleonps commented on #53
Any update about it?

[2018-11-09 16:15] giautm commented on #53
I think this project was not maintained anymore. so, we should fork to add new feature & fix bugs

[2019-01-21 22:20] ciehanski commented on #53
I have forked this project and got the tests to run. Also applied most open PRs and issues. https://github.com/ciehanski/go-jwt-middleware

[2019-01-24 01:08] giautm commented on #53
I switched to use this package, `github.com/dgrijalva/jwt-go`

[2019-02-21 20:45] kohenkatz commented on #18
Note that as of 91fde50a187e033f6d474b855ff41bdb4dab0ff7 this is no longer how `context` is used, and the new way does not have this issue because the `Request` object is cleaned up after the request is over.

[2019-03-14 21:11] john-j-mclaughlin opened #58 "Clock skew can cause JWT parsing to fail"
go-jwt-middleware uses a default jwt Parser instance to parse the JWT.  The default behavior is to "validate" the JWT and reject it if this fails.

Currently "validate" only looks at issue & expire time and compares with now().  **If the parsing machine's current time is earlier than the JWT issuer's time (in my case it was by 0.4 secs) the parse will fail because my "now" is before their "issue t

[2019-06-04 06:13] ritik2409 commented on #25
Great Work, Dude!!!

[2019-06-07 02:48] aaliomer commented on #58
+1 this is causing real problems for us. We have some technical debt and looking into other competitors. please fix to save my team headache

[2019-07-30 21:00] #2 closed

[2019-07-30 21:08] grounded042 commented on #18
I'm going through and cleaning up issues - it looks like this one is no longer needed. Feel free to open it again if it is needed.

[2019-07-30 21:08] #18 closed

[2019-07-30 21:15] grounded042 commented on #28
I'm going through and cleaning some old issue up - it looks like this issue is no longer active so I'll close it for now. Feel free to open it again if this is still an issue.

[2019-07-30 21:15] #28 closed

[2019-07-30 21:16] grounded042 commented on #29
We are now using the go context here. I'm going through and cleaning some old issue up - it looks like this issue is no longer active so I'll close it for now. Feel free to open it again if this is still an issue.

[2019-07-30 21:16] #29 closed

[2019-10-01 08:12] claudioontheweb commented on #39
Could you please tell how exactly you fixed that? It seems like I have the same problem. Thank you!

[2019-11-14 18:04] josharian opened #62 "CheckJWT should use net/http.Request.Clone"
CheckJWT makes a shallow copy of the inbound request near the end of the function in order to set a new context.

In the context of reverse proxies, this can cause trouble. See https://github.com/golang/go/issues/20068 and https://github.com/golang/go/issues/23544.

The preferred way to modify the context of an inbound request is net/http.Request.Clone.

[2019-12-11 21:15] AleksandrukTad opened #63 "Why you are not extracting token from session cookie?"
Hey,
When you are implementing this login: https://auth0.com/docs/quickstart/webapp/golang/01-login

You are not able to implement this authorization:
https://auth0.com/docs/quickstart/backend/golang/01-authorization

Because the access_token is store in session cookie which Extractor is not handling. If you want me to I can have a look, and implement this.

[2020-02-16 09:01] ashmilhussain commented on #63
I have seen a PR on this,
PR: add FromCookie token extractor #10
Don't know why it's not merged.

[2020-08-04 19:05] adw1n commented on #58
You should be able to use
[code]
workaround

[2020-08-28 11:37] stephanebruckert commented on #49
+1 anyone got a solution for this?

[2020-11-30 18:47] mujtaba1747 commented on #52
Yeah, I also agree, the Error Handler is way too restricted !

[2021-01-08 20:06] truescotian opened #72 "Incorrect documentation / breaking change lead to failed build"
### Description

It seems there is incorrect documentation for Auth0 to address the most recent commit 1c6db3ceac5f4d28b35ee4b9949a3f80030aa6a3. When providing options to `github.com/auth0/go-jwt-middleware`, specifically `ValidationKeyGetter`, we've always used `github.com/dgrijalva/jwt-go` `*jwt.Token`, which is currently invalid and throwns the shown error:

`cannot use func literal (type func(

[2021-01-08 20:46] grounded042 commented on #72
Hey @truescotian, my apologies for this. If you look at https://github.com/auth0/go-jwt-middleware/pull/69 you can see what lead to this breaking change. The decision was made to have this breaking change in order to fix a security vulnerability.  The documentation issue is an oversight on our part and I'll make sure that gets fixed up.

A contributing factor to this issue is that up until this po

[2021-01-08 20:53] grounded042 commented on #72
Actually, it looks like the documentation issue has already been fixed and is awaiting merge: https://github.com/kylekampy/docs/commit/9cdddf69c2e7c678a222c5195660db9909e6066c

[2021-01-09 02:42] truescotian commented on #72
Hi @grounded042, thanks for the quick response! Glad to see that the docs have been updated. However, I just wanted you to be aware of two potential issues:
https://github.com/form3tech-oss/jwt-go/issues/7
https://github.com/form3tech-oss/jwt-go/issues/5

I seem to be running into similar issues. I hope I go in to enough detail for you:

1. My JWT's `aud` is `[http://xxxxx.xxx.xxxxx.com https://xx

[2021-01-11 17:22] grounded042 commented on #72
In the code snippet
[code]
it makes sense with what you are seeing. You would need to do
[code]
to have it show up as `[]string`.

[2021-01-11 17:33] grounded042 commented on #72
@truescotian Thinking about this some more I think this has to do with how JSON is parsed into the map claims. I don't have time to dig deeper right now, but that's where I would start looking.

[2021-01-13 12:36] dschreij commented on #72
Same here; to make things work again, I had to explicitly convert the `[]interface{}` to `[]string` by adding the following segment to the `ValidationKeyGetter` code:

[code]
Not a big problem perse, but sadly it makes the function way more verbose.

[2021-01-13 13:17] truescotian commented on #72
Unfortunately not: https://stackoverflow.com/questions/44027826/convert-interface-to-string-in-golang

[2021-01-29 21:43] grounded042 opened #73 "replace jwt-go"
We need to determine a replacement for the jwt-go dependency. Currently github.com/dgrijalva/jwt-go is not actively maintained, and we switched to https://github.com/form3tech-oss/jwt-go. However, the later also seems to have a lack of maintenance which leads us to seek a replacement.

We need to choose a package. In this issue I'd like to track discussing a replacement, doing some PoC work, and t

[2021-01-29 22:06] cyx commented on #73
I'd like to explore using square/go-jose and try to fill in the gaps when it's not adhering to best practices that _we at least_ care about for the purposes of the middleware.

[2021-01-29 22:11] grounded042 opened #74 "add option for additional checks"
At times consumers of the package want to validate more things in a token than what this package provides. The go to method of doing this is via the `ValidatonKeyGetter` func. We should provide specific functionality to do these checks instead of having users tack things into the key getter func.

[2021-01-29 22:27] grounded042 commented on #63
Sorry for the inactivity! Please see this comment for info: https://github.com/auth0/go-jwt-middleware/pull/10#issuecomment-770082747

[2021-01-29 22:29] grounded042 commented on #58
Sorry for the inactivity on this. We are open to including this in our v2 release. If someone has a proposal that would be appreciated.

[2021-01-29 22:36] grounded042 commented on #53
I apologize for the inactivity here. We are beginning work on a `v2` and this is something we can look at. Note that the package we settle on to replace `jwt-go` might impact how custom claims are supported. See #73 for more details on the replacement of `jwt-go`.

[2021-01-29 22:40] grounded042 commented on #52
I apologize for the silence on this issue and the PR. We are ramping up work on `v2` of this package and will keep this issue in mind for that release.

[2021-01-29 22:42] grounded042 commented on #27
Please see https://github.com/auth0/go-jwt-middleware/pull/19#issuecomment-516598326

[2021-01-29 22:42] #27 closed

[2021-01-29 22:43] grounded042 commented on #20
It looks like we've got a solid solution from @TaiPhamD above. Since then we've gotten modules and in our future `v2` release we will be able to utilize them to keep things from breaking like they did here.

[2021-01-29 22:43] #20 closed

[2021-01-29 22:44] grounded042 commented on #17
Is this still a problem? I'm going through and cleaning some things up, so if I don't hear back after a couple of days I'll close this issue.

[2021-01-29 22:44] grounded042 commented on #49
Is this still a problem? I'm going through and cleaning some things up, so if I don't hear back after a couple of days I'll close this issue.

[2021-01-29 22:45] grounded042 commented on #9
There are no plans to add this at this time. Is this still something you would like to pursue? I'm going through and cleaning some things up, so if I don't hear back after a couple of days I'll close this issue.

[2021-01-30 12:05] stephanebruckert commented on #49
@grounded042 I still wonder if there is a solution to avoid duplicating the middleware bit

[2021-02-01 14:53] grounded042 commented on #49
@stephanebruckert depending on the route setup I believe you could do something like this
[code]

[2021-02-01 20:06] JayHelton commented on #73
lestrrat-go/jwx would be another option to look at. It is ultimately a more opinionated package than go-jose though.

I can throw up a small poc for it. I have a couple ideas, if that is cool.

JWX provides variadic params for parsing and validating claims on the token, so id like to see if that could be leveraged well, but if we still want to provide a user defined validation func as an option, w

[2021-02-01 20:15] cyx commented on #73
@JayHelton sure, the more ideas the better! 👍 I'd also like to see how many "production grade" services use the libraries as well.

[2021-02-04 02:57] JayHelton commented on #73
Here is a WIP PoC (i havent touched tests yet) using `lestrrat-go/jwx`  https://github.com/auth0/go-jwt-middleware/compare/master...JayHelton:jwx-poc-one

Currently it takes in an array of ValidateOptions which are a JWX interface from the JWT module, and then just the Key as a Option.

We can also bring back the ValidationKeyGetter and provide a more free form token check, which Im going to PoC o

[2021-02-05 19:32] grounded042 commented on #17
I'm closing this issue due to no response. If this is still a problem please feel free to re-open this issue.

[2021-02-05 19:32] #17 closed

[2021-02-05 19:33] grounded042 commented on #49
@stephanebruckert does that solve the issue for you?

[2021-02-05 19:33] grounded042 commented on #9
I'm closing this issue due to no response. If this is still a problem please feel free to re-open this issue.

[2021-02-05 19:33] #9 closed

[2021-02-05 19:35] stephanebruckert commented on #49
Can't try it now but feel free to close as that looks like a good answer to me! Thanks for the help

[2021-02-05 20:14] #49 closed

[2021-02-10 19:10] JayHelton commented on #73
Ive done some more stewing on the use of JWX.
- `lestrrat-go/jwx` does seem to be getting favor in the community.
- the maintainer is responsive and consistently doing work in the repo
- the implementation is straightforward, though i would like some thoughts on how idiomatic it is (not a lot of professional go experience)

At first i was skeptical about wanting to change the middlewares interface

[2021-02-12 19:23] grounded042 commented on #73
Thanks for taking a stab at this for JWX @JayHelton. I looked over your code and have a couple of comments. Do you think you could open it up as a draft PR here so I (and others) can add the comments inline?

[2021-02-14 17:57] JayHelton commented on #73
Done! https://github.com/auth0/go-jwt-middleware/pull/76

Thank you!

[2021-02-16 18:29] aaronprice00 commented on #58
So I'm not comfortable enough with Go to write a proposal but this may help:
A few have suggested passing in a custom Claims object, this is how dgrijalva/jwt-go suggests handling until v4 is released including leeway support.
https://stackoverflow.com/questions/60480824/auth0-jwt-authentication-error-parsing-token-token-used-before-issued
https://github.com/dgrijalva/jwt-go/issues/257

[2021-02-16 21:54] aaronprice00 commented on #72
Regarding form3tech-oss/jwt-go
jwt.Parse looks like it was planned to be phased out or kept for backwards compatibility.
By default jwt.Parse calls jwt.ParseWithClaims and passes in MapClaims{} which is of type map[string]interface{}
Take a look at: https://github.com/form3tech-oss/jwt-go/blob/master/MIGRATION_GUIDE.md
But you can instead use ParseWithClaims with custom or StandardClaims and have

[2021-02-19 20:31] grounded042 commented on #73
Perfect. I'll take a look this afternoon.

[2021-02-19 21:13] grounded042 commented on #73
Nice job @JayHelton - I left some comments.

I also had a thought while looking over your code: what if instead of depending on a specific package we built an interface? We could then provide some common implementations such as using `JWX`. I briefly passed it by @cyx and I think I'll take a spike to see what that interface might look like.

[2021-02-19 22:13] JayHelton commented on #73
@grounded042 I like that idea!
Then servers could chose whichever impl they feel most confident about.

Im down to rubber ducky if you would like someone to bounce ideas off of.

[2021-02-19 22:51] grounded042 commented on #73
☝️ that's the first pass - sorry I didn't see the message sooner otherwise I would have been down to pair. Feedback in there is appreciated. If it looks like something we want to explore more I can take a pass at a first implementation.

[2021-02-19 23:13] grounded042 commented on #73
With this pass we could have some first adapters of JWX and square/go-jose.

[2021-02-20 16:41] barismar commented on #17
I've solved this issue on this PR [https://github.com/auth0/go-jwt-middleware/pull/78](url), please kindly check it.

[2021-02-27 08:45] arawden opened #79 "CustomClaims with multiple audiences cannot be unmarshalled"
### Description
I believe this is an isssue with the underlying `jwt-go` code, but I've been spending a lot of time struggling to make progress with this. I've updated my go modules and I'm currently on v1 of the `jwt-middleware` and v3.2.2 of the` form3tech-oss/jwt-go` packages

When presented with an audience which is an array, the library cannot unmarshal into the CustomClaims object and gives:

[2021-02-27 22:00] arawden commented on #79
I was unable to reproduce this issue this morning, so feel free to close this.

[2021-03-01 14:47] grounded042 commented on #79
Hey @arawden. This sounds similar to #72. Any chance that issue gives any insight into the one you are having?

[2021-03-01 23:24] aaronprice00 commented on #72
Here's my full solution hopefully it helps someone.

main.go:
[code]

Next, need to modify go-jwt-middleware so vendor it
$ go mod vendor

vendor/github.com/auth0/go-jwt-middleware/jwtmiddleware.go:
[code]
Also need to modify the New() method to set default claims
[code]
Finally lets use ParseWithClaims() instead of Parse() and pass in our Claims Option
[code]

This worked for me, I'd love to get

[2021-03-02 03:13] arawden commented on #79
Hey @grounded042, it definitely looks to be equivalent.

To expand a little bit, I have an integration test which creates a token and then tries to make a request to an endpoint wrapped with the `AuthedEndpoint` middleware I posted. I've checked the token that gets passed to the endpoint in the jwt.io decoder, and it looks fine to me. It is the same token, roughly, as the one passed from my fronte

[2021-03-12 20:54] grounded042 commented on #72
Hey @aaronprice00, sorry for the late reply here. Great work on putting all of that together. Looking through this it looks like a great candidate for `v2`. In `v2` we are working on separating the logic of JWT validation. Right now the middleware provides _some_ validation, but most people end up adding their own setup. In `v2` validation should be more easily handled by a token validator which c

[2021-03-12 20:54] grounded042 commented on #79
Thanks @arawden. I just dropped a comment over in #72 if you could take a look when you get a chance: https://github.com/auth0/go-jwt-middleware/issues/72#issuecomment-797749240

[2021-03-15 19:09] steven-varga opened #80 "example on main page doesn't run"
### Description
copy pasted example from front page leads to error.

The purpose of an example is to demonstrate the fitness / features of a project, copy pasting the example didn't do it.
### Reproduction
follow the instructions of README.md

it is consistent, several `go run main.go` lead to:
[code]
### Suggested Fix
remove `context` from imports on **both** posted example.

[2021-03-17 22:38] lita opened #81 "v1.0.0 no longer can unmarshel a single audience from client credentials using CustomClaims"
### Description
I believe the upgrade to 1.0.0 and the change from  github.com/dgrijalva/jwt-go to github.com/form3tech-oss/jwt-go broke using Auth0's Client Credentials. We currently use this to do integration tests. The types have changed for StandardClaims for the audience field, going from `string` to `[]string`, which makes the Bearer token returned from `/oauth/token` endpoint not useable.

[2021-03-18 14:00] grounded042 commented on #81
Hey @lita, thanks for reaching out about this issue. #72 is tracking this issue and several community members have posted their workarounds there. Long term we are not planning on support `jwt-go` in this package and are looking to have a better solution in `v2`.

[2021-03-18 17:09] lita commented on #81
Hey @grounded042, I did take a look at https://github.com/auth0/go-jwt-middleware/issues/72 but that seems to be describing a different issue, where there are multiple audiences. This issue pertains to having a single audience (with the audience not contained in an array, in which StandardClaims fails to get marshaled. And it doesn't seem like I can convert an audience to an array via hooks in Aut

[2021-03-18 17:25] lita commented on #81
It seems like the functionality still works with using MapClaims. So I guess I can workaround this to use MapClaims for now. But it would be great to be able to use StandardClaims and CustomClaims in the future.

[2021-03-19 23:05] grounded042 commented on #81
Ahh, gotcha. That's my mistake in my read through of your issue - sorry!

If using MapClaims for now works that's great! As I mentioned we're planning on dropping support for `jwt-go` in `v2` and hopefully the new package will work much better for you.

[2021-03-19 23:10] grounded042 commented on #73
I've made some good progress on go-jose: https://github.com/auth0/go-jwt-middleware/compare/v2...jon/go-jose-token-validator

[2021-03-22 17:17] lita commented on #81
@grounded042 is there a way for Auth0 to take in multiple audiences for client credentials when creating the bearer token?

[2021-03-29 13:18] zobkiw opened #82 "URL in README.md results in 404"
The following URL in the README.md returns a 404:

`Important to avoid security issues described here:  https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/`

[2021-03-29 14:05] grounded042 commented on #82
@zobkiw thanks for reporting this issue. The link has been updated.

[2021-03-29 14:05] #82 closed

[2021-04-02 21:05] grounded042 commented on #81
@lita does this answer your question? https://community.auth0.com/t/multiple-audiences-in-an-access-token/21945/4

If not, let me know and I can dig in a bit more.

[2021-04-08 16:50] lita commented on #81
Yeah this does answer my question. I actually ended up downgrading, as there is no way to support both single audiences with access tokens and multiple audiences with oauth tokens in the same code path with the 1.0.0 change.

[2021-04-09 16:35] grounded042 commented on #81
I'm sorry about that! With the next versions and beyond our versioning should be a in a good state so breaking changes like that do not happen.

[2021-04-23 20:08] grounded042 opened #86 "v2 features"
This issue is here to list out all of the features we're working towards in v2. We have the milestone and I wanted to create an issue to explicitly call out everything we are working towards. Things can be checked off once they are merged into the `v2` branch.

### core features
- [x] vendor neutral (#40)
- [x] replaceable validation logic (#73)
- [x] allow custom error handler (#51)
- [x] error h

[2021-04-28 16:34] arundotin opened #87 "Form3tech 0SS dependency cannot be imported"
My go.mod file looks like this

[code]

When i build my app using `go build main.go`. I am stopped with the below error

[code]

I couldn't execute `go get` too. Need help in resolving this

[2021-04-28 16:36] arundotin commented on #87
Sorry its a wrong post.. i did a mistake

[2021-04-28 16:36] #87 closed

[2021-04-30 17:35] grounded042 commented on #40
Hey @etsangsplk! I realize that this comment is very late in regards to when you created this issue and I'm sorry about that. We are ramping up work on a version 2 of this package and we wanted to consider this issue as we plan.

Could you clarify a bit what you mean by vendor neutral? Are you talking about if this package just works with Auth0 or if it works with other auth providers? Or are you

[2021-04-30 17:39] #80 closed

[2021-05-06 00:12] achandak123 commented on #86
Any timeline for the V2 version? This version doesnt support list of audiences and custom claims. Hope V2 supports that.

[2021-05-07 18:01] grounded042 commented on #86
Hey @achandak123! We don't have an official timeline, but I'm hoping for June/July of this year (hopefully sooner). I have a somewhat messy PR open into the v2 branch that, among other things, adds support for a list of audiences and custom claims. I'm hoping to clean that PR up by next weekend. Feel free to take a look if you'd like, but again, it's kind of messy and lacks some good examples: #84

[2021-05-08 22:12] urbantrout commented on #72
@aaronprice00 Thanks for your solution. Unfortunately I get the following error:

`interface conversion: jwt.Claims is *main.MyClaims, not jwt.MapClaims`

go 1.16

[2021-05-23 13:42] oxisto commented on #73
Just to be sure that you are also aware of this. There is currently a discussion going on if (or more how) the community is going to pickup maintaining `jwt-go` in https://github.com/dgrijalva/jwt-go/issues/462 after the original author came back from its hiatus and suggested a transfer.

[2021-05-25 14:44] grounded042 commented on #73
Thanks @oxisto! I think we are set in this regard - we've built the replacement in such a way that you can switch out providers like jwt-go with a small amount of code.

[2021-05-29 15:22] oxisto commented on #73
Understood. Is there anything we can do from the `jwt-go` side of things to write a validator PR similar to the one you have for jose? Or would that be something external to the project? We do have of course some interest to keep the `jwt-go` project alive, since it has quite a large user base.

[2021-06-01 20:52] grounded042 commented on #73
Yes, the contribution of a `jwt-go` validator via a PR would be welcome. I took a quick glance at the code you have up and you are on the right track! This is much appreciated 🙇

[2021-06-05 07:17] jiangjiali opened #92 "jwt.Keyfunc"
无法将 'func(*jwt.Token) (interface{}, error) { return []byte(configure.Config.GetString("jwt.secret")), nil }' (类型 func(*jwt.Token) (interface{}, error)) 用作类型 jwt.Keyfunc

[2021-06-05 17:50] DeamonMV commented on #92
@jiangjiali
try this hack - change in your go.mod version of the go-jwt-middleware

from `github.com/auth0/go-jwt-middleware v1.0.0`
to `github.com/auth0/go-jwt-middleware v0.0.0-20190805220309-36081240882b`

[2021-06-05 17:57] DeamonMV commented on #92
I'll elaborate little bit more about this problem.

I have spend whole day to understand why I cannot use my `func` in the ValidationKeyGetter. That is how it looks:
![image](https://user-images.githubusercontent.com/12302678/120900856-f88a8900-c63f-11eb-92df-438987cdc678.png)

At the end of the day I came up with idea to check version of the `go-jwt-middleware` module, and I have noticed that in

[2021-06-05 17:59] DeamonMV commented on #92
@jiangjiali if you please set this title for the issue

`Version v1.0.0 have issue on custom jwt.Keyfunc for ValidationKeyGetter`

I think this will expand more information about problem for other people. Thank you.

[2021-06-07 05:12] jiangjiali commented on #92
Take the author to update the bug.
Thank you for taking the time to answer this less important question.

[2021-06-07 13:26] grounded042 commented on #92
The reason for this is when you upgrade to `v1.0.0` you need to use ` github.com/form3tech-oss/jwt-go` instead of `github.com/dgrijalva/jwt-go`. Context of this switch can be found here: https://github.com/auth0/go-jwt-middleware/pull/69#issuecomment-755391756

This project was not properly handling go module versioning which is why we had a breaking change like this. We will soon be releasing a v

[2021-06-07 13:35] grounded042 commented on #72
@urbantrout can you show use the code for the error you are hitting?

[2021-06-09 15:40] DeamonMV commented on #72
I think problem solved. I tried those versions of modules
[code]
And with them was no need to convert `interface` into `string`.

[2021-06-11 17:21] grounded042 commented on #92
@jiangjiali with the above comment is this still and issue you are hitting?

[2021-06-17 06:21] jiangjiali commented on #92
Now there is no problem.
I fully understand.

[2021-06-22 07:34] urbantrout commented on #72
I can confirm that this problem is solved with these versions.

[2021-06-22 08:05] urbantrout commented on #72
I was using

Upgrading to

did not solve the problem.

I think it has something to do with this line of code:
[code]
which according to https://github.com/auth0/go-jwt-middleware/issues/72#issuecomment-788389180 I have to change to
[code]

[2021-06-22 10:42] hspens commented on #72
I'm experiencing the same issue and have a work-around for it. I've implemented a custom json parser for my `CustomClaims` which supports both `string` & `[]string`. However, in my opinion, the underlying **jwt.StandardClaims** should implement `aud` as type `[]string` instead of `string`.

[code]

I'm using the following packages:
[code]

[2021-06-22 11:15] DeamonMV commented on #72
@hspens
try to use those versions

[code]

[2021-06-25 20:01] #92 closed

[2021-07-06 19:55] b-venter opened #95 "Sample not working - ValidationKeyGetter - cannot use as jwt.Keyfunc value in struct literal"
### Description
![image](https://user-images.githubusercontent.com/52171108/124657192-77265080-dea2-11eb-82b6-911c67ed690b.png)

### Reproduction

1. Download sample from [Auth0 tutorial](https://auth0.com/docs/quickstart/backend/golang/)
2. Extract and cd into folder
3. `go mod init test`
4.
[code]
Open with VS Code and the error will appear.

### Environment

- **Version of this library used:**

[2021-07-06 22:49] grounded042 commented on #95
Thanks for surfacing this issue @b-venter. We'll get this fixed!

[2021-07-07 08:02] eregnier opened #96 "Incompatible | breaking change on callback function signature in jwtmiddleware options"
Hey, I have this error with the latest version of this library. It looks like the callback function signature does not match current ValidationKeyGetter option value.

I don't know how to solve this as I did not change my code and the code is broken. So it looks like a regression / breaking change where I do not have  a clue how to solve as the readme example remains unchanged and looks not compat

[2021-07-07 11:12] b-venter commented on #95
I did a bit more exploring and this seems linked to the **NOTE** of this repository: the unmaintained jwt library. To test, I cloned the jwtmiddleware.go file, and changed the jwt library to github.com/golang-jwt/jwt. This appears to have solved the problem I was experiencing, but I am not sure if it will introduce an incompatibility elsewhere? At least for the tutorial, it did not appear to intro

[2021-07-07 13:37] grounded042 commented on #95
Yes, you are on the right track there. Pulling in `github.com/form3tech-oss/jwt-go` should fix the issue.

[2021-07-07 13:40] grounded042 commented on #96
Hey @eregnier, sorry you are facing this. If you look at #69 you can see what lead to this breaking change. The decision was made to have this breaking change in order to fix a security vulnerability.

A contributing factor to this issue is that up until this point this package has not been versioned.

I'm guessing you are pulling in `github.com/dgrijalva/jwt-go`? If you change that to `github.com

[2021-07-07 13:43] b-venter commented on #95
Actually, I removed `github.com/form3tech-oss/jwt-go` and put in **`github.com/golang-jwt/jwt`.** I guess this error is a further symptom of #73 ?

[2021-07-07 13:47] grounded042 commented on #95
Yeah, it's from that change (see #69 for more details). form3tech was added because there was no other fix at that point. Since then the community has rallied around golang-jwt.

We've got a new version of this package coming out very soon and it uses golang-jwt instead of form3tech. If you're interested in checking it out, https://github.com/auth0/go-jwt-middleware/tree/v2 should point you in the

[2021-07-07 14:08] b-venter commented on #95
Thanks @grounded042! The support has been great - which is why I chose to explore Auth0 more in the first place! :)
I suspect the above will also address the matter for #96.
Should  close this this issue?

[2021-07-07 14:14] grounded042 commented on #95
@b-venter happy to help! Yes, go ahead and close this since we've solved it for you. I've got a PR open to fix quickstarts code: https://github.com/auth0-samples/auth0-golang-api-samples/pull/35.

And yes, this was the same issue faced in that issue as well.

Thanks for bringing this to our attention!

[2021-07-07 14:15] #95 closed

[2021-07-07 16:04] eregnier commented on #96
it works. thank you.

[2021-07-09 17:33] #96 closed

[2021-07-16 21:35] grounded042 commented on #86
Hey @achandak123 we are getting close to releasing `v2`. We would love if you were able to test out some of the changes we've made if you have some time.

[2021-07-16 21:51] grounded042 commented on #86
The best way to test is to use `go get github.com/auth0/go-jwt-middleware@b4ac45bdac0c0ff483a0e3958a3368b6a68ad506` in your project. You might need to change the hash after the `@` to whatever the latest commit on the `v2` branch is: https://github.com/auth0/go-jwt-middleware/commits/v2.

Then you should be able to follow the migration guide for info on what has changed: https://github.com/auth0/g

[2021-07-30 21:54] grounded042 commented on #86
We are close to releasing v2. The plan right now is to test throughout the month of August and then release it in early September.

[2021-08-06 02:04] zeigernz commented on #86
Can't wait for the new version!

[2021-08-06 02:19] tommyk commented on #86
i wrote a gin middleware using this v2.  the way this works with the error handler makes the code feel kind of funky, but it does work though.  i will create another issue to show the code and ask input about what i noticed.

thanks for the hard work!

[2021-08-30 12:01] brumhard commented on #86
Hi there,

I've just tested the new v2 and it seems to work great, I really like the changes especially the support for jwks out of the box.

One little thing I stumbled across is the new `JWKSProvider`, which takes the issuer URL and looks up the jwks URL from the oidc configuration. Sadly in my case no such endpoint is provided by the issuer. That's why it would be great if you could support dir

[2021-09-06 14:33] avelino commented on #86
is there an estimated release date for version 2?

[2021-09-14 13:54] grounded042 commented on #86
@avelino due to some internal changes at Auth0 we're pushing the release back a bit. We'll get you an estimated date when we know more.

[2021-09-14 13:59] avelino commented on #86
@grounded042 If you need me to help you maintain `go-jwt-middleware`

[2021-11-01 16:07] truescotian commented on #86
Hey @sergiughf, the [migration guide](https://github.com/auth0/go-jwt-middleware/blob/master/MIGRATION_GUIDE.md) references how to use v2 at very high level, but then link to v1 and [godocs](https://pkg.go.dev/github.com/auth0/go-jwt-middleware#New) state v1.0.1 is the latest. Is there any guidance on viewing v2 docs to help with migration?

[2021-11-01 16:21] sergiughf commented on #86
Hey @truescotian, really appreciate you taking a look at that guide! We merged the v2 branch into master but we did not officially release v2 yet as we are running a couple of last mile checks to ensure we did not miss anything. Once all last pieces fall into place we'll do the official release. We really appreciate everyone's patience! V2 release is extremely close, just 🐻  with us a tiny bit lon

[2021-11-05 16:47] sergiughf commented on #86
Hello everyone,

I'd like to give you all a quick update from our side on what's happening right now with v2.

We're in the process of performing a couple of internal checks we have for every major release. The soft deadline we set internally for releasing the next major version is **the week starting November 15th **.

The release will be a beta one and tagged with **v2.0.0-beta**. So we can give

[2021-11-05 18:40] avelino commented on #86
@sergiughf

[code]

[2021-11-05 18:44] sergiughf commented on #86
Hey @avelino, apologies for the confusion. I should have been more clear in explaining that only once our internal checks are finished we can release the `v2.0.0-beta` tag. 🙇🏻   For now please use `go get github.com/auth0/go-jwt-middleware@42d45ca897dd702bdf283002f529d5e02dabf86a` which is the hash of the latest commit on master (v2 material).

[2021-11-25 17:56] avelino commented on #86
@sergiughf, do you have news about the new version?

I am not just charging but showing interest in contributing if you need help

We use `auth0/go-jwt-middleware` at [pREST](https://github.com/prest/prest) (https://github.com/prest/prest/pull/600) and I don't think it's worth switching to another middleware, so I'm available to help.

[2021-12-01 08:09] sergiughf commented on #86
Hey @avelino, first of all I really appreciate the availability to support this project. I'll be having additional info regarding the new version on Thursday (2nd Dec) after I'll sync with the team responsible for the internal checks. Unfortunately this is taking longer than expected due to the internal company holiday we had for the week of thanksgiving. Rest assured however that we're still push

[2021-12-01 11:09] kermit-sad-frog opened #124 "ContextKey not declared by package jwtmiddleware"
### Describe the problem
ContextKey not declared by package jwtmiddleware

<img width="764" alt="Screenshot 2021-12-01 at 11 51 23" src="https://user-images.githubusercontent.com/89095027/144212473-43489bc7-aff6-4525-a976-e6bf090a7170.png">

### What was the expected behavior?

it should works how it was discribed in documentation

### Reproduction

[code]
I
### Environment

[code]

[2021-12-01 11:30] sergiughf commented on #124
Hey @kermit-sad-frog thanks for reporting this. We're in the process of cutting the new v2 release as right now when you do a `go get github.com/auth0/go-jwt-middleware` you'll still get served v1. https://github.com/auth0/go-jwt-middleware/tree/v1.0.1

To try out the still beta version you could fetch directly on the latest commit with `go get github.com/auth0/go-jwt-middleware@9a48f965b89c5b31ad

[2021-12-01 11:39] kermit-sad-frog commented on #124
thank you a lot for your answer, how I can handle this issue?
[code]

[2021-12-01 11:42] sergiughf commented on #124
If you're using the beta version with `go get github.com/auth0/go-jwt-middleware@9a48f965b89c5b31ad947abb7df6a4fff71a0453` then you won't be using that package. I'd suggest clearing out your vendor folder `rm -rf vendor` and running `go mod vendor` again and checking your imports.

If instead you're using v1 through `go get github.com/auth0/go-jwt-middleware` you'll be needing that package and aga

[2021-12-03 10:50] sergiughf commented on #86
Hey folks,

So a quick update, we expect to get internal clearance early next week after which we'll be able to cut the new `v2.0.0-beta` release. We'll keep the beta version around for 1-2 month(s) to give everyone time to test it, after which we'll promote it to `v2.0.0`.

![image](https://user-images.githubusercontent.com/28300158/144590323-61951aa1-1d44-4716-a970-cb69e2ec87d5.png)

[2021-12-03 11:01] avelino commented on #86
Congrats @sergiughf and teams 🎉

[2021-12-03 11:30] avelino commented on #86
@sergiughf you could generate a `git tag` in [`pre-release`](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository), so you can test it using `go mod`

[2021-12-03 13:32] sergiughf commented on #86
Hey @avelino, appreciate the link! The `v2.0.0-beta` will be indeed a pre-release.

[2021-12-03 15:00] grounded042 commented on #86
This is awesome! So glad this is getting released.

[2021-12-07 02:27] jamra commented on #124
When do you think you're going to release your 2.0 version?

I'm getting errors all over this library. Can you provide examples for beta branch? The example on the readme doesn't seem changed. Is my error the same?

github.com/auth0/go-jwt-middleware/validator: module github.com/auth0/go-jwt-middleware@latest found (v1.0.1), but does not contain package github.com/auth0/go-jwt-middleware/validator

[2021-12-07 20:29] sergiughf commented on #124
Hey @jamra, we'll be cutting the new release tomorrow 8th of December so stay tuned!

Apologies for the inconvenience so far, as soon as the release is out you'll be able to use the beta by running `go get github.com/auth0/go-jwt-middleware@v2.0.0-beta`

Really appreciate you sticking with us so far and for your patience!

[2021-12-07 20:49] jamra commented on #124
I’m in no hurry. I’ll be glad to test it when it’s released on the 8th.

[2021-12-08 13:17] sergiughf commented on #124
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue, but feel free to reopen if needed.

[2021-12-08 13:17] #124 closed

[2021-12-08 13:19] sergiughf commented on #40
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:19] #40 closed

[2021-12-08 13:19] sergiughf commented on #51
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:19] #51 closed

[2021-12-08 13:20] sergiughf commented on #52
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:20] #52 closed

[2021-12-08 13:20] sergiughf commented on #53
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:20] #53 closed

[2021-12-08 13:21] sergiughf commented on #58
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:21] #58 closed

[2021-12-08 13:21] sergiughf commented on #62
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:21] #62 closed

[2021-12-08 13:22] sergiughf commented on #63
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:22] #63 closed

[2021-12-08 13:22] sergiughf commented on #72
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:22] #72 closed

[2021-12-08 13:23] sergiughf commented on #73
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:23] #73 closed

[2021-12-08 13:23] sergiughf commented on #74
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:23] #74 closed

[2021-12-08 13:24] sergiughf commented on #79
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:24] #79 closed

[2021-12-08 13:24] sergiughf commented on #81
We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'm closing this issue as now this is part of v2, but feel free to reopen if needed.

[2021-12-08 13:24] #81 closed

[2021-12-08 13:28] sergiughf commented on #86
Hello folks,

We just released the [v2.0.0-beta](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta) 🥳 !

You can start testing it by running `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

In case of issues fetching the v2 you might want to try `go clean --modcache` first before doing `go get`.

I'll be closing this issue soon as we'll focus on issues raised from the

[2021-12-08 19:46] jamra commented on #124
Okay so the example works and I am successfully able to validate the access token. I just can't find any examples on how to get the sub (and all the other token data). Can you please update the sample or show it here?

[2021-12-08 20:38] jamra commented on #86
There doesn't seem to be a way to get the User out of the Context. The previous methods with Claims don't work.

[2021-12-09 09:10] sergiughf commented on #86
Hey @jamra, thanks for reporting this. Could you kindly open a bug issue so we can target support on this and provide us with further information like:

- Describe the problem
- What was the expected behavior?
- Reproduction sample
- Environment

Usually if your code ends up executing inside the handler it's safe to assume the validation has passed successfully and the token has been assigned as a

[2021-12-09 11:02] #86 closed

[2021-12-09 11:55] avelino commented on #86
@sergiughf Create a issue label to mark the issues that is from v2 or v1, so we can identify it easier

[2021-12-09 16:23] jamra commented on #86
For anyone who comes across this while searching, the issue was in porting the gin code over to my code.

[code]

Here I created my own middleware and used my own Handler that returns an error so I can log my errors in one place. You can just use http.Handler and not return from this function. My previous mistake was calling the handler from the function I'm returning instead of the one that sets

[2021-12-09 17:23] sergiughf commented on #86
@jamra That's amazing 🥳 ! Thank you so much for going the extra mile and providing this visibility for everyone! It really means a lot!

[2021-12-09 19:24] jamra commented on #86
Another thing I would like to see is the validation of ID tokens. There are methods deeper inside the middleware that just use jwt and jose to do so, but it would require a similar setup with the keyFunc and whatnot. I'm trying to use the ID token to get basic info about the user to be stored for future user communication.

[2021-12-30 16:46] ashish-scalent commented on #72
getting error
go: github.com/auth0/go-jwt-middleware/v2/v2@v2.0.0-beta: reading github.com/auth0/go-jwt-middleware/v2/v2/go.mod at revision v2/v2.0.0-beta: unknown revision v2/v2.0.0-beta

[2021-12-30 22:46] sergiughf commented on #72
Hey @ashish-scalent ! It seems you're trying to do /v2/v2 twice in your go get:) It should be just `go get github.com/auth0/go-jwt-middleware/v2@v2.0.0-beta`.

[2022-01-05 12:45] ashish-scalent commented on #72
previously we are fetching tokens from requests after jwt middle handler validate the token set in the req context
but now CheckJwt middleware set that as
[code]

so in this case if we retrieve the ctxToken from req context something like
`ctxToken := r.Context().Value(jwtmiddleware.ContextKey{})`

so token is interface having type string actually so when I tried to retrieve (*jwt.Token) to map wi

[2022-01-05 12:57] sergiughf commented on #72
Hey @ashish-scalent , you need to do something like this as described in the README.md:

[code]

as now the value will be of type `validator.ValidatedClaims`.

[2022-01-05 13:12] ashish-scalent commented on #72
PANIC: interface conversion: interface {} is string, not *validator.ValidatedClaims

getting panic in that way I forgot to mention that previously

[2022-01-05 13:15] sergiughf commented on #72
@ashish-scalent Could you please open a separate issue describing in full detail the issue following the template we provide please?:) It would be great to provide a reproducible of your setup code.

[2022-01-05 18:49] ashish-scalent commented on #72
Hey Sorry my bad you were right I actually forgot to pass `*validator.ValidateToken` function in middleware

no issue from my side, thanks for the instant support

[2022-01-05 18:55] sergiughf commented on #72
@ashish-scalent Happy to help!:) Glad you fixed it!

[2022-02-01 10:04] noamApps commented on #72
Hi everyone, we also encountered this problem, I'm putting our solution here in case it will useful for someone.

This solution doesn't require using the auth0 v2 sdk which is in beta, and does not require vendoring the jwt package to your repository and modify it, and does not require github.com/form3tech-oss/jwt-go which is no longer maintained.

The problem as we understand it relies in golang-

[2022-03-23 08:18] shnmorimoto opened #148 "If we set multiple audience, we get the authentication error."
### Describe the problem

When we set multiple audience and jwt only have one audience. then we got authentication error.

[code]

jwt payload is like below
[code]

error is like below.
[code]

if we set only 1 audience. then we get success authentication

### What was the expected behavior?

In my understanding,
if one of the audiences we set matches one of the client-side audiences, the authenti

[2022-03-25 19:41] danpoland opened #149 "Pass the unverified token to Validator keyFunc"
### Describe the problem you'd like to have solved

In the v1 version of this library the `ValidationKeyGetter` attribute of the `Options` struct is passed a pointer to the unverified jwt `Token` object.  In v2 `ValidationKeyGetter` has been replaced with `validator.New`'s first argument which is of type `func(context.Context) (interface{}, error)`.

The unverified token is no longer provided to t

[2022-05-31 16:29] jpmeijers opened #153 "Custom claims not decoded"
### Describe the problem

Decoded access token does not contain custom claims.

### What was the expected behavior?

I want to see the custom claims that were added by the auth0 actions.

### Reproduction

I have an access token that looks like this:
```eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjdOU1ZEMHpoMnJmSG9JWjM3YjBqWiJ9.eyJodHRwczovL2F1dGguZWJ1Zy5jby56YS9lbWFpbCI6ImpwbWVpamVyc0Bob21lYnVnL

[2022-05-31 17:58] grounded042 commented on #153
Hey @jpmeijers. Have you followed the example which shows custom claims? https://github.com/auth0/go-jwt-middleware/blob/master/examples/http-example/main.go

[2022-06-01 07:41] jpmeijers commented on #153
Thanks, I wasn't aware of that example. Maybe we should note something about this in the README.

Is there a way to parse all the custom claims, without having to pre-define them? Like we would have unmarshalled unknown json to an `interface{}`.

[2022-06-04 10:06] jpmeijers opened #154 "Test handler that requires authentication"
I wanted to write tests for my handlers, but had the issue of my handlers requiring the auth0 decoded access token in the context. Some [searching further](https://blog.questionable.services/article/testing-http-handlers-go/) and I managed to do the following to add the user id (subject field) to the context.

Maybe someone can help how one would add the other fields and custom claims. I have not

[2022-06-07 15:10] danpoland commented on #149
I figured out what I needed by going through the source code.

[2022-06-07 15:10] #149 closed

[2022-06-10 15:18] JeremyCraven commented on #149
Hey @danpoland what was the solution here?

[2022-06-13 13:27] danpoland commented on #149
@JeremyCraven there are some features that aren't documented in the github README. I was looking for a way to implement JWKS caching, as it turns out the library already provided the functionality, https://pkg.go.dev/github.com/auth0/go-jwt-middleware/v2/jwks.

You can find an example of its usage here: https://auth0.com/docs/quickstart/backend/golang/01-authorization

[2022-06-17 14:32] grounded042 commented on #153
Hey @jpmeijers sorry for the late reply - I was out on vacation for a bit. Yes, you could get all claims by doing something like the following:

[code]

[code]

[2022-06-17 14:44] grounded042 commented on #154
You should be able init the middleware and then do something like `middleware.CheckJWT(MyHandlerFunction)`

See this for examples of how we test things:

https://github.com/auth0/go-jwt-middleware/blob/master/middleware_test.go#L154

[2022-06-17 19:17] grounded042 commented on #154
@jpmeijers I've opened a PR which shows some tests: https://github.com/auth0/go-jwt-middleware/pull/157

[2022-06-19 18:10] elaine-jackson opened #158 "Token used before issued"
### Describe the problem

When a Token is issued it is not immediately usable. When developing with Go 1.18 on Windows I frequently have to resync to NTP or the token appears to of been used before it was issued.

### What was the expected behavior?
Tokens should have a backdated issue date (by at least a few seconds) to avoid time-drift causing users to use the token before it was used. This coul

[2022-06-19 19:05] #158 closed, assigned to nobody

[2022-06-22 13:42] jpmeijers commented on #153
Ah great. Thanks a lot for the example.

[2022-06-22 13:48] jpmeijers commented on #154
Nice. I think it is clear enough and I'll be able to follow it to write my own tests.

[2022-06-22 13:48] #154 closed

[2022-08-20 18:42] kacak9229 opened #166 "Failed to get decoded token using Go fiber"
**Please do not report security vulnerabilities here**.
The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!**
Your attention to detail here is greatly appreciated and will help us respond as quickly as possible.
For general support or usage questions, use the [Auth0 Co

[2022-09-23 11:52] MushiTheMoshi opened #168 "provide a gin gonic example"

[2022-10-06 04:58] simonrobb opened #169 "Missing cookie causes CookieTokenExtractor to return error"
### Describe the problem

I'm using the `CookieTokenExtractor` and when the named cookie is not present in the request, the following error is returned: `error extracting token: http: named cookie not present`.

The `Cookie` method on `http.Request` returns a `ErrNoCookie` error when the cookie doesn't exist, and that result is being directly returned by [the extractor code](https://github.com/aut

[2022-10-06 05:05] simonrobb commented on #169
Suggested fix in this commit: https://github.com/auth0/go-jwt-middleware/commit/451a80238baa51c6bb83085da763a6f160402f26

[2022-10-21 06:09] simonrobb commented on #169
Any comment on this proposal?

This comment in `middleware.go` further suggests this is not the expected behavior: https://github.com/auth0/go-jwt-middleware/blob/master/middleware.go#L61.

[2022-10-25 14:43] FlorianRuen commented on #168
Any news for this issue ?
I tried something that works but for the entire API, not route by route because the param is http.Handler instead of gin.Handler

[code]

[code]

[2022-10-26 08:13] sergiught commented on #169
Hey @simonrobb 👋🏻 apologies for the delay in getting back to you. I'll have some time to take a look at this next week.

[2022-10-27 16:17] sergiught commented on #169
Hey @simonrobb I was able to fix this in https://github.com/auth0/go-jwt-middleware/pull/172/ and it will be available in the next release. Before cutting it, I wanna tackle a few more issues and improvements, so stay tuned!

Thanks again for raising this!

I'll close this down once we make the release.

[2022-10-28 04:30] simonrobb commented on #169
Thanks @sergiught, that's great to hear!

[2022-10-28 12:25] sergiught commented on #166
Hey @kacak9229 👋🏻

Apologies for the late reply, I took a look at this and it seems to be an issue with the fiber adaptor pkg. The `HTTPMiddleware` func doesn't seem to be copying over the original request Context.

If you add `c.SetUserContext(r.Context())` within the `nextHandler` of the `adaptor.HTTPMiddleware()` and then within your handler do `claims, ok := ctx.UserContext().Value(jwtmiddlewa

[2022-10-28 12:25] #166 closed

[2022-11-02 13:14] sergiught commented on #169
Hey @simonrobb 👋🏻 this is now available within https://github.com/auth0/go-jwt-middleware/releases/tag/v2.1.0. Thanks for your patience!

[2022-11-02 13:14] #169 closed

[2022-11-02 13:15] sergiught commented on #168
Hey @MushiTheMoshi , @FlorianRuen  👋🏻 this is now available within https://github.com/auth0/go-jwt-middleware/tree/v2.1.0/examples/gin-example. Thanks for your patience!

[2022-11-02 13:15] #168 closed

[2022-11-02 13:16] sergiught commented on #148
Hey folks 👋🏻 this is now fixed within the [v2.1.0 (release)](https://github.com/auth0/go-jwt-middleware/releases/tag/v2.1.0). Thanks for your patience!

[2022-11-02 13:16] #148 closed

[2022-11-03 05:26] simonrobb commented on #169
Great work @sergiught, thank you!

[2022-11-09 22:08] josh-feldman opened #178 "Custom `ValidateWithLeeway` in #176 Introduced Breaking Changes to Token Validation"
### Checklist

- [X] I have looked into the [README](https://github.com/auth0/go-jwt-middleware#readme) and have not found a suitable solution or answer.
- [X] I have looked into the [documentation](https://pkg.go.dev/github.com/auth0/go-jwt-middleware/v2) and have not found a suitable solution or answer.
- [X] I have searched the [issues](https://github.com/auth0/go-jwt-middleware/issues) and hav

[2022-11-14 11:19] sergiught commented on #178
Hey @josh-feldman 👋🏻

Thanks for raising this and apologies for the unexpected behavior change. The fact that the previous version allowed passing an empty audience slice and skipping the validation, was flawed and was considered a bug. Validation should always occur on the issuer, audience and time based claims.

[2022-11-14 11:19] #178 closed

[2022-11-15 13:54] josh-feldman commented on #178
@sergiught should we at least change the error to validate an empty audience array as `invalid expectations` or `at least one audience must be specified`? The current error for not passing in an audience array and getting back that the token is invalid regardless of whether the audience field exists or not is misleading.

[2022-11-16 03:08] kingscott opened #181 "Allow middleware to be used in a gRPC environment"
### Checklist

- [X] I agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Describe the problem you'd like to have solved

We're using Auth0 for user authentication and authorization of our product, and we're also using the `auth0/go-jwt-middleware/v2` and `auth0/go-jwt-middleware/v2/validator` packages to facili

[2022-11-16 09:30] sergiught commented on #178
Agreed @josh-feldman, the error message definitely needs to be improved and fire earlier when we set up the validator in case the audience is nil or len 0.

[2022-11-20 01:20] harshav17 opened #182 "Cannot import internal oidc package"
### Checklist

- [X] I have looked into the [README](https://github.com/auth0/go-jwt-middleware#readme) and have not found a suitable solution or answer.
- [X] I have looked into the [documentation](https://pkg.go.dev/github.com/auth0/go-jwt-middleware/v2) and have not found a suitable solution or answer.
- [X] I have searched the [issues](https://github.com/auth0/go-jwt-middleware/issues) and hav

[2022-11-21 16:08] sergiught commented on #182
Thanks for reporting this @harshav17 ! The internal pkg was included by mistake in the examples, however they are now fixed! Please have a look at the updated ones: https://github.com/auth0/go-jwt-middleware/blob/master/examples/http-jwks-example/main_test.go. Appreciate your patience!

[2022-11-21 16:08] #182 closed